.head{
    background-color:darkgoldenrod;
    color:aliceblue;
    text-align: center;
    padding:2px;
}

.h3Title {
    color:rgb(50, 50, 203);
}

#DCLogo{
    width: 40px;
    height: auto;
}

#Wholepage{
    background-color:ghostwhite;
    margin-left: 0,5cm;
}

#presentForm {
    border: 2px solid darkgray;
    padding: 20px;
    text-align: justify;
}
#allmoviespage{
    border: 2px solid darkgray;
    background-color:ghostwhite;
    padding:20px;
}
#ListTitle{
    text-align: center;
}
#listofmovie{
    border: 2px solid darkgray;
    padding: 20px;
    text-align: justify;
}

#searchmovie{
    border: 2px solid darkgray;
    padding: 20px;
    text-align: justify;
}
.paragraphStyle {

    padding: 20px;
    text-align: center;
    font-style: italic;
    color:rgb(50, 50, 203);
}

.footerstyle{
    font-style: italic;
    text-align: center;
    color:rgb(50, 50, 203);
}
